In [57]:
import numpy as np
import pandas as pd

In [58]:
filas = ['X', 'Y', 'Z']
columnas = ['A', 'B', 'C', 'D', 'E']

In [59]:
data = np.round(np.random.randn(3,5), 2 )
data

array([[-0.76,  0.55,  0.69, -0.17, -0.73],
       [ 0.91,  0.39,  0.28,  1.46, -0.29],
       [ 0.13,  0.46, -0.61,  1.64, -1.27]])

In [60]:
df = pd.DataFrame(data, filas, columnas)
df

      A     B     C     D     E
X -0.76  0.55  0.69 -0.17 -0.73
Y  0.91  0.39  0.28  1.46 -0.29
Z  0.13  0.46 -0.61  1.64 -1.27

In [61]:
df['A']

X   -0.76
Y    0.91
Z    0.13
Name: A, dtype: float64

In [62]:
df['E']

X   -0.73
Y   -0.29
Z   -1.27
Name: E, dtype: float64

In [63]:
df[['A', 'B']]

      A     B
X -0.76  0.55
Y  0.91  0.39
Z  0.13  0.46

In [64]:
df

      A     B     C     D     E
X -0.76  0.55  0.69 -0.17 -0.73
Y  0.91  0.39  0.28  1.46 -0.29
Z  0.13  0.46 -0.61  1.64 -1.27

In [65]:
df['D']['Z']

1.64

In [66]:
df['A+B'] = df['A'] + df['B']
df

      A     B     C     D     E   A+B
X -0.76  0.55  0.69 -0.17 -0.73 -0.21
Y  0.91  0.39  0.28  1.46 -0.29  1.30
Z  0.13  0.46 -0.61  1.64 -1.27  0.59

In [67]:
df = df.drop('A+B', axis=1)

In [68]:
df

      A     B     C     D     E
X -0.76  0.55  0.69 -0.17 -0.73
Y  0.91  0.39  0.28  1.46 -0.29
Z  0.13  0.46 -0.61  1.64 -1.27

In [69]:
df.drop('Z')

      A     B     C     D     E
X -0.76  0.55  0.69 -0.17 -0.73
Y  0.91  0.39  0.28  1.46 -0.29