In [1]:
import pandas as pd

In [3]:
serie = pd.Series(list(range(10,50,10)))
serie

0    10
1    20
2    30
3    40
dtype: int64

In [14]:
print(serie[1])
serie[2]

40

30

In [17]:
serie = pd.Series(list(range(10,50,10)), index= ["a", "b", "c", "d"])
serie

a    10
b    20
c    30
d    40
dtype: int64

In [12]:
print(serie["d"], serie[-3] )

40 20

In [16]:
serie = pd.Series(list(range(10,50,10)), index= [1,2,3,4])
serie

1    10
2    20
3    30
4    40
dtype: int64

In [19]:
#Rangos
serie = pd.Series(list(range(10,50,10)), index= ["a", "b", "c", "d"])
serie

a    10
b    20
c    30
d    40
dtype: int64

In [25]:
serie[1:3]

b    20
c    30
dtype: int64

In [33]:
serie["b":"c"]

b    20
c    30
dtype: int64

In [41]:
serie.loc["a"]

10

In [44]:
serie.loc["b":"d"]

b    20
c    30
d    40
dtype: int64

In [45]:
serie.iloc[1]

20

In [47]:
serie = pd.Series([1,2,3,4])
serie

0    1
1    2
2    3
3    4
dtype: int64

In [49]:
serie.pop(3)

4

In [51]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

In [52]:
s.pop("d")

40