In [113]:
import numpy as np
import pandas as pd

In [115]:
letras = list('abc')
letras

['a', 'b', 'c']

In [117]:
numeros = list(range(10, 40, 10))
numeros

[10, 20, 30]

In [119]:
arr = np.array(numeros)
print(arr)

[10 20 30]

In [121]:
dicc = dict(zip(letras, numeros))
dicc

{'a': 10, 'b': 20, 'c': 30}

In [123]:
pd.Series(numeros)

0    10
1    20
2    30
dtype: int64

In [125]:
pd.Series(numeros, index=letras)

a    10
b    20
c    30
dtype: int64

In [127]:
series = pd.Series(numeros, index=letras)
print(series[0])
print(series['a'])

10
10

In [129]:
pd.Series(dicc)

a    10
b    20
c    30
dtype: int64

In [131]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [133]:
#DataFrame
filas = list('XYZ')
columnas = list('ABCDE')

In [135]:
data = np.round(np.random.randn(3,5),2)
data

array([[-0.8 ,  0.86, -1.03,  0.94, -1.75],
       [ 0.5 , -1.27, -0.16, -0.15, -0.33],
       [ 1.04,  1.35, -1.03,  1.81, -0.38]])

In [137]:
df = pd.DataFrame(data, filas, columnas)
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [139]:
df['A']

X   -0.80
Y    0.50
Z    1.04
Name: A, dtype: float64

In [ ]:
df['E']

In [126]:
df[['A', 'E']]

      A     E
X  0.04 -0.58
Y  0.29 -0.36
Z -1.62 -0.66

In [128]:
df['A']['X']

0.04

In [130]:
df['E']['Z']

-0.66

In [132]:
df

      A     B     C     D     E
X  0.04 -0.02  2.03 -0.43 -0.58
Y  0.29  0.99  0.69  0.42 -0.36
Z -1.62  0.06  1.81  1.25 -0.66

In [134]:
df['A+B'] = df['A'] + df['B']
df

      A     B     C     D     E   A+B
X  0.04 -0.02  2.03 -0.43 -0.58  0.02
Y  0.29  0.99  0.69  0.42 -0.36  1.28
Z -1.62  0.06  1.81  1.25 -0.66 -1.56

In [136]:
df.drop('A+B', axis=1)

      A     B     C     D     E
X  0.04 -0.02  2.03 -0.43 -0.58
Y  0.29  0.99  0.69  0.42 -0.36
Z -1.62  0.06  1.81  1.25 -0.66

In [138]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [140]:
df.drop('A+B', axis=1, inplace=True)

KeyError: "['A+B'] not found in axis"

In [142]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [143]:
df['A+B'] = df['A'] + df['B']
df

      A     B     C     D     E   A+B
X -0.80  0.86 -1.03  0.94 -1.75  0.06
Y  0.50 -1.27 -0.16 -0.15 -0.33 -0.77
Z  1.04  1.35 -1.03  1.81 -0.38  2.39

In [144]:
df = df.drop('A+B', axis=1)
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [145]:
df.drop('Z')

     A     B     C     D     E
X -0.8  0.86 -1.03  0.94 -1.75
Y  0.5 -1.27 -0.16 -0.15 -0.33

In [146]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [147]:
df['C']

X   -1.03
Y   -0.16
Z   -1.03
Name: C, dtype: float64

In [151]:
df.loc['X']

A   -0.80
B    0.86
C   -1.03
D    0.94
E   -1.75
Name: X, dtype: float64

In [150]:
df.iloc[0]

A   -0.80
B    0.86
C   -1.03
D    0.94
E   -1.75
Name: X, dtype: float64

In [152]:
df.shape

(3, 5)

In [153]:
df[['A', 'B']]

      A     B
X -0.80  0.86
Y  0.50 -1.27
Z  1.04  1.35

In [154]:
df[['A', 'B']].loc[['X', 'Y']]

     A     B
X -0.8  0.86
Y  0.5 -1.27

In [155]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [156]:
df > 0.5

       A      B      C      D      E
X  False   True  False   True  False
Y  False  False  False  False  False
Z   True   True  False   True  False

In [158]:
df[df>0.5]

      A     B   C     D   E
X   NaN  0.86 NaN  0.94 NaN
Y   NaN   NaN NaN   NaN NaN
Z  1.04  1.35 NaN  1.81 NaN

In [159]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [160]:
df['A']<0

X     True
Y    False
Z    False
Name: A, dtype: bool

In [161]:
df[df['A'] <0]

     A     B     C     D     E
X -0.8  0.86 -1.03  0.94 -1.75

In [162]:
df.loc['X']

A   -0.80
B    0.86
C   -1.03
D    0.94
E   -1.75
Name: X, dtype: float64

In [163]:
df

      A     B     C     D     E
X -0.80  0.86 -1.03  0.94 -1.75
Y  0.50 -1.27 -0.16 -0.15 -0.33
Z  1.04  1.35 -1.03  1.81 -0.38

In [170]:
df = df.reset_index()

In [171]:
df

  index     A     B     C     D     E
0     X -0.80  0.86 -1.03  0.94 -1.75
1     Y  0.50 -1.27  0.10 -0.15 -0.33
2     Z  1.04  1.35 -1.03  1.81 -0.38

In [172]:
df.set_index('A')

      index     B     C     D     E
A
-0.80     X  0.86 -1.03  0.94 -1.75
 0.50     Y -1.27  0.10 -0.15 -0.33
 1.04     Z  1.35 -1.03  1.81 -0.38

In [179]:
vector = df['B'].to_list()
vector

[0.86, -1.27, 1.35]

In [180]:
type(vector)

list